.wpslm {
    position: fixed;
    z-index: 999;
    top: 0;
    height: 100vh;
    overflow: auto;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    background-color: rgba(255,255,255,.9);
}
.wpslm-left {
    width: 70vw;
    left: 0;
    transform:translateX(-100vw);
}
.wpslm-right {
    width: 30vw;
    right: 0;
    transform:translateX(26vw);
    opacity:0.6
}
.wpslm-right:not(.open):hover {
    opacity:0.8
}
.wpslm.open {
    opacity:1;
    display:block;
}
.wpslm-left.open,
.wpslm-right.open {
  transform:translateX(0);
}
.wpslm-right.open {
  opacity:1;
}
.wpslm-close {
  position: absolute;
  top: 40px;
  right: 28.5vw;
  z-index: 9999999;
  background: #CBE0FF;
  padding: 12px 17px;
  border-radius: 45px;
  line-height: 1;
  display:none;
  opacity:0;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  font-weight:bold;
  cursor: pointer;
  color:#fff;
}
.wpslm-right.open + .wpslm-close {
  display:block;
  opacity:1;
}
@media(max-width:768px) {
  .wpslm-left {
      width: 100vw;
      left: 0;
      background-color:#F1D152;
      transform:translateX(-100vw);
      height:70vh;
  }
  .wpslm-right {
      width: 100vw;
      right: 0;
      background-color:#2E8B57;
      transform:translateX(100vw);
      height:30vh;
      top:70vh;
  }
  .wpslm-close {
    top: 60px;
    right: 20px;
  }
}
